In [ ]:
#1
t=()
t

()

In [ ]:
#2
t=("Anaconda",34,56.99)
t

('Anaconda', 34, 56.99)

In [ ]:
#3
age=[]
while(1):
  a=int(input("Enter the age of person"))
  if a<0:
    break
  else:
    age.append(a)
T=tuple(age)
T

Enter the age of person4
Enter the age of person45
Enter the age of person56
Enter the age of person78
Enter the age of person77
Enter the age of person88
Enter the age of person99
Enter the age of person0
Enter the age of person1
Enter the age of person1
Enter the age of person1
Enter the age of person1
Enter the age of person1
Enter the age of person1
Enter the age of person1
Enter the age of person1
Enter the age of person0
Enter the age of person-9

(4, 45, 56, 78, 77, 88, 99, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0)

In [ ]:
#2nd method
t=()
while(1):
  a=int(input("Enter the age of person"))
  if a<0:
    break
  else:
    t=t+(a,)
t

Enter the age of person-9

()

In [ ]:
#4
t=(0,1,2,3,4,5,6,7,8,9)
t=t[:4]+(42,65,75.75)+t[4:]
t

(0, 1, 2, 3, 42, 65, 75.75, 4, 5, 6, 7, 8, 9)

In [ ]:
#5
t=()
while(1):
  a=input("Enter the name of person")
  if a=="AAA":
    break
  else:
    t=t+(a,)
print(t)
unique=[]
for i in t:
  if i not in unique:
    unique.append(i)
    print("The name of{0} occurs{1}times in the input".format(i,t.count(i)))

Enter the name of personSRII
Enter the name of personSRII
Enter the name of personKUMAR
Enter the name of person0
Enter the name of personsRII
Enter the name of personsrii
Enter the name of personSRII
Enter the name of person-0
Enter the name of personaaa
Enter the name of personSREEE
Enter the name of personAAA
('SRII', 'SRII', 'KUMAR', '0', 'sRII', 'srii', 'SRII', '-0', 'aaa', 'SREEE')
The name ofSRII occurs3times in the input
The name ofKUMAR occurs1times in the input
The name of0 occurs1times in the input
The name ofsRII occurs1times in the input
The name ofsrii occurs1times in the input
The name of-0 occurs1times in the input
The name ofaaa occurs1times in the input
The name ofSREEE occurs1times in the input

In [ ]:
#6
import statistics
from statistics import mode
t=()
while(1):
  a=input("Enter the name of person")
  if a=="AAA":
    break
  else:
    t=t+(a,)
print("The most frequent name is",mode(t))

Enter the name of person SRINI
Enter the name of person FILKO
Enter the name of personKINGI
Enter the name of personAAA
The most frequent name is  SRINI

In [ ]:
#7
import statistics
from statistics import mode
t=()
while(1):
  a=input("Enter the name of person")
  if a=="AAA":
    break
  else:
    t=t+(a,)
removed=input(print("Enter the name to be removed"))
for i in range(len(t)):
  if t[i]==removed:
    t=t[:i]+t[i+1:]
    break
print("The list after removing the items",removed,t)

In [ ]:
#8
shopping_list=[]
item=()
while(1):
  a=eval(input("Enter the name and quantity of an item as ()"))
  if a==():
    break
  else:
    shopping_list.append(a)
print("The shopping list is ",shopping_list)

In [ ]:
#9
l=[]
while(1):
  a=eval(input("Enter the name and weight of each fruit as () :"))
  if a==():
    break
  else:
    l.append(a)
print("The Fruit list is ",l)
l.sort()
print("The sorted list is ",l)

In [ ]:
#10
import operator
l=[]
item=()
while(1):
  a=eval(input("Enter the name and weight of each fruit as () :"))
  if a==():
    break
  else:
    l.append(a)
print("The Fruit list is ",l)
sorted_list=sorted(l,key=operator.itemgetter(1))
print("The sorted list is ",sorted_list)

In [ ]:
#10
import operator
l=[]
item=()
while(1):
  a=eval(input("Enter the name and weight of each fruit as () :"))
  if a==():
    break
  else:
    l.append(a)
print("The Fruit list is ",l)
sorted_list=sorted(l,key=operator.itemgetter(1),reverse=1)
print("The sorted list is ",sorted_list)