<a href="https://colab.research.google.com/github/SrinivasSelvaraj/MACHINE-LEARNING-IN-PYTHON-PROBLEMS-/blob/main/python%20excercises-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
n=int(input('Enter a number'))
d=dict()
for i in range(1,n+1):
  d[i]=i*i
print(d)

Enter a number5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#2
temps={}
temp_list=[]
for i in range(2):
  temp2=[]
  day=input("enter a day-sun,mon,tue,wed,thur,fri or sat")
  t=float(input("enter a temperature"))
  temp2.append(day)
  temp2.append(t)
  temp_list.append(temp2)
print(temp_list)
temps=dict(temp_list)
print(temps)

day=input('enter a day to add')
if day in temps:
  print('day already exists')
else:
  temps[day]=float(input('enter a temp'))
print('updated temperature:',temps)
print(temps)

enter a day-sun,mon,tue,wed,thur,fri or sat sun,mon,tue,wed,thur,fri or sat
enter a temperature25.2
enter a day-sun,mon,tue,wed,thur,fri or satsun,mon,tue,wed,thur,fri or sat
enter a temperature42
[[' sun,mon,tue,wed,thur,fri or sat', 25.2], ['sun,mon,tue,wed,thur,fri or sat', 42.0]]
{' sun,mon,tue,wed,thur,fri or sat': 25.2, 'sun,mon,tue,wed,thur,fri or sat': 42.0}
enter a day to addwed
enter a temp42
updated temperature: {' sun,mon,tue,wed,thur,fri or sat': 25.2, 'sun,mon,tue,wed,thur,fri or sat': 42.0, 'wed': 42.0}
{' sun,mon,tue,wed,thur,fri or sat': 25.2, 'sun,mon,tue,wed,thur,fri or sat': 42.0, 'wed': 42.0}

In [ ]:
#3
temps={'sun':75.6,'mon':73.3,'tue':69.5,'wed':75.4,'thur':72.3,'fri':78.9,'sat':76.4}
l=[]
for day in temps:
  print(day)
  t=temps[day]
  if t>=70 and t<=79:
    l.append(day)
print(l)

sun
mon
tue
wed
thur
fri
sat
['sun', 'mon', 'wed', 'thur', 'fri', 'sat']

In [ ]:
#4
d={'even':0,'odd':1}
while(1):
  x=int(input("Enter the number"))
  if x==-1:
    break
  if(x%2==0):
    d['even']=d['even']+1
  else:
    d['odd']=d['odd']+1
  print(d)

Enter the number 20
{'even': 1, 'odd': 1}
Enter the number15
{'even': 1, 'odd': 2}
Enter the number-23
{'even': 1, 'odd': 3}
Enter the number-1

In [ ]:
#5
d={0:[],1:[],2:[],3:[],4:[],5:[],6:[],7:[],8:[],}
while(1):
  x=int(input('Enter the value of n'))
  if x==-1:
    break
  else:
    key=x%9
    d[key].append(x)
print(d)

Enter the value of n5
Enter the value of n13
Enter the value of n12
Enter the value of n-1
{0: [], 1: [], 2: [], 3: [12], 4: [13], 5: [5], 6: [], 7: [], 8: []}

In [ ]:
#6
import operator
students = eval(input("Enter the IDNO and MARK of each student as a {}"))
print("The student dictionary is", students)
print("The number of students are",len(students))

#to find class average
sum=0
for k in students:
        sum = sum + students[k]
class_average = sum/len(students)
print("The class average is =",class_average)

#to find no. of students above class average
count=0
for k in students:
        if students[k] > class_average:
            count = count + 1
print("The number of students above class average is", count)

#to find the topper of the class
out = sorted(students.items(), key = operator.itemgetter(1), reverse = 1)
topper = out[0][0]
print("The Topper of the class is",topper)

#to implement recheck
recheck_name = input("Who has applied for recheck?")
new_mark = int(input("What is the new mark?"))

students[recheck_name] = new_mark
print("The dictionary after rechecks is",students)

Enter the IDNO and MARK of each student as a {}{'srini':20,'Kumar':18,'srinivasa':20}
The student dictionary is {'srini': 20, 'Kumar': 18, 'srinivasa': 20}
The number of students are 3
The class average is = 19.333333333333332
The number of students above class average is 2
The Topper of the class is srini
Who has applied for recheck?srini
What is the new mark?25
The dictionary after rechecks is {'srini': 25, 'Kumar': 18, 'srinivasa': 20}

In [ ]:
#7
keys=['a','b','c']
values=[1,2,3]
{i:j for (i,j) in zip(keys, values)}

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#8
keys=['a','b','c']
values=[1,2,3]
d=dict(zip(keys,values))
d

{'a': 1, 'b': 2, 'c': 3}