<a href="https://colab.research.google.com/github/SrinivasSelvaraj/MACHINE-LEARNING-IN-PYTHON-PROBLEMS-/blob/main/SIMPLE%20PYTHON%20PROJECTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
with open("/content/drive/MyDrive/presidency/subject/python/file 1.txt")as file:
  for l in file:
    if l.lstrip()[0].isnumeric():
      print(l,end="")

1.Happy new year
2.From presidency university

In [ ]:
#2
file = open("/content/drive/MyDrive/Content/file 2.txt")
N=int(input('enter the n value'))
for i in range(0,N):
    line = file.readline()
    print(line)

enter the n value3
 hi everybody



THIS IS SRINIVAS

In [ ]:
#3
fh1=open("/content/drive/MyDrive/Content/file3.txt","r")
L=[]
for x in fh1:
     L.append(int(5))
print(L)
print(len(L))
print(sum(L))
print(min(L))
print(max(L))

[5, 5, 5, 5, 5, 5, 5, 5, 5]
9
45
5
5

In [ ]:
#4
fh1=open("/content/drive/MyDrive/file4.txt","r")
fh2=open("/content/drive/MyDrive/ file 4 summary file.txt","w")
for x in fh1:
  name=[]
  temp=x.split(" ")
  print(temp)
  total=0
  name=" ".join([text for text in temp if text.isalpha()])
  for y in temp:
    if y.isdigit():
      total=total+int(y)
  percentage=(total/500)*100
  print(name,total,percentage,file=fh2)
fh2.close()
fh1.close()

['JOHN', 'WESLEY', 'SOL', '56', '78', '90', '76', '92', '\n']
['SARA', 'JO', 'DAWN', '74', '95', '97', '89', '74', '', '\n']
['SRINIVAS', '86', '92', '98', '79', '99']

In [ ]:
#5
d={}
fh=open('/content/drive/MyDrive/ file 5 poem.txt','r')
fh1=open('/content/drive/MyDrive/ file 5 poem.txt','r')
s=fh1.readlines()
f=fh.read()
L=f.split()
for word in L:
  if word not in d:
    d[word]=1  #MAKING A DICTIONARY
  else:
    d[word]=d[word]+1
print(d)
print("Number of lines:",len(s))
print("No of distinct words:",len(d.keys()))

{'johnny': 2, 'yes': 1, 'papa': 3, 'eating': 1, 'sugar': 1, 'no': 2, 'telling': 1, 'ies': 1, 'open': 1, 'ur': 1, 'mouth': 1, 'ha': 3}
Number of lines: 4
No of distinct words: 12

In [ ]:
#6
m,f,minc,finc=0,0,0,0
with open('/content/drive/MyDrive/file 6.txt','r') as inc:
    lines=inc.readlines()
    for line in lines:
        det=line.split()
        if det[0]=='F': # COUNTING NO OF FEMALE
            finc+=(int)(det[1])
            f+=1
        else:  # COUNTING NO OF MALE
            minc+=(int)(det[1])
            m+=1
    mavg=minc/m #AVERAGE SALARY OF MALES
    favg=finc/f #AVERAGE SALARY OF FEMALES
    print("Average Female Income:",favg)
    print("Average Male Income:",mavg)
    print("Number of Males:",m)
    print("Number of Females:",f)
    with open("Inc_det.txt",'x'):
        with open("Inc_det.txt",'w+') as op:
            op.write("Average Female Income: ") #SAVING DETAILS IN OTHER FILE FOR LATER USE
            op.write(str(favg))
            op.write("\nNumber of Females: ")
            op.write(str(f))
            op.write("\nAverage Male Income: ")
            op.write(str(mavg))
            op.write("\nNumber of Males: ")
            op.write(str(m))

Average Female Income: 10000.0
Average Male Income: 16000.0
Number of Males: 2
Number of Females: 1

In [ ]:
#7
try:
  f1=open("/content/drive/MyDrive/file 7.txt","r")
  a=f1.read()
  f2=open("/content/drive/MyDrive/file 7.txt","w")
  f2.write(a[::-1])
except fileNotFoundError as e1:
  print(e1)
except IOError as e2:
  print(e2)
finally:
  f1.close()
  f2.close()
print("success")

success

In [ ]:
#8
class STUDENT():
   def print_total(self):
       print(self.mark1+self.mark2+self.mark3+self.mark4+self.mark5)
S=STUDENT()
S.Name=input("Enter Name:")
S.Rollno=input("Enter Your Rollno:")
S.mark1=int(input("Enter marks of 1st subject:"))
S.mark2=int(input("Enter marks of 2nd subject:"))
S.mark3=int(input("Enter marks of 3rd subject:"))
S.mark4=int(input("Enter marks of 4th subject:"))
S.mark5=int(input("Enter marks of 5th subject:"))
print("Name of the student:",S.Name)
print("Roll number of the student:",S.Rollno)
S.print_total()
print(" is the total marks of ",S.Name)

Enter Name:SRINIVAS
Enter Your Rollno:20191COM0195
Enter marks of 1st subject:88
Enter marks of 2nd subject:95
Enter marks of 3rd subject:75
Enter marks of 4th subject:100
Enter marks of 5th subject:86
Name of the student: SRINIVAS
Roll number of the student: 20191COM0195
444
 is the total marks of  SRINIVAS

In [ ]:
#9
class student:
  def __init__(self,name,id,branch,sem,m1,m2,m3):
    self.name=name
    self.id=id
    self.branch=branch
    self.sem=sem
    self.m1=m1
    self.m2=m2
    self.m3=m3
  def grade(self):
    self.m1=m1
    self.m2=m2
    self.m3=m3
    sum=self.m1+self.m2+self.m3
    sum=sum/3
    if sum>=90:
      print("Distinction")
    elif sum>=80:
      print("First Class")
    elif sum>=70:
      priint("Second Class")
    elif sum>=60:
      print("Third Class")
    else:
      print("Fail")
#main function
while 1:
  x=int(input("enter your choice\n1:adding student details\n2:deleting studentdetails \n3:printing student Grade\n4:Exit\n"))
  if x==1:
    name=input("enter name\t")
    id=input("enter id\t")
    branch=input("enter branch\t")
    sem=input("enter sem\t")
    m1=float(input("enter marks1\t"))
    m2=float(input("enter marks2\t"))
    m3=float(input("enter marks3\t"))
    student1=student(name,id,branch,sem,m1,m2,m3)
  elif x==2:
   del student1
  elif x==3:
   print("Grade of student  ",student1.name,student1.grade())
  elif x==4:
   break

enter your choice
1:adding student details
2:deleting studentdetails
3:printing student Grade
4:Exit
1
enter name	SRINIVAS
enter id	20191COM0195
enter branch	4
enter sem	85
enter marks1	65
enter marks2	45
enter marks3	95
enter your choice
1:adding student details
2:deleting studentdetails
3:printing student Grade
4:Exit
3
Third Class
Grade of student   SRINIVAS None
enter your choice
1:adding student details
2:deleting studentdetails
3:printing student Grade
4:Exit
4

In [ ]:

#10
class Person:
  def __init__(self,Name,id,address,mobile_number,CGPA):
    self.Name=Name
    self.id=id
    self.address=address
    self.mobile_number=mobile_number
    self.CGPA=CGPA
class Student(Person):
   def __init__(self):
     Person.__init__(self,Name,id,address,mobile_number,CGPA)
Name=input("Enter your name:")
id=input("Enter Your id:")
CGPA=float(input("Enter your CGPA:"))
address=input("Enter Your address:")
mobile_number=int(input("Enter Your Mobile Number:"))
S=Student()
print("\t\t #Student Details# \t\t")
print("Name of the Student:",S.Name)
print("id number of the student:",S.id)
print("CGPA of the student:",S.CGPA)
print("Address of the student:",S.address)
print("Mobile number:",S.mobile_number)